
@{
	ViewData["Title"] = "ProjectDetails";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="my-3 p-3 bg-white rounded box-shadow">
	<div class="card">
		<div class="card-body">
			<h5 class="card-title">Card title</h5>
			<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
			<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
		</div>
		
	</div>

	<div class="card-body">
		<div class="table-responsive" id="proTeamScroll" tabindex="2" style="height: 400px; overflow: hidden; outline: none;">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>User</th>
						<th>Freelancer Info</th>
						<th>Price</th>
						<th>Date</th>
						<th>Status</th>
						<th>Action</th>
						
					</tr>
				</thead>
			</table>
		</div>
	</div>

</div>