@{
    ViewData["Title"] = "Home Page";
}



<header class=" masthead text-white text-center" >
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-xl-9 mx-auto">
				
    <h1>Hire the best freelancers for any job, online.</h1>
    <h5 class="display-5">Millions of people use freelancer.com to turn their ideas into reality.</h5>
			</div>
			
		</div>
	</div>
</header>