
@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/js/JavaScript.js"></script>
<link href="~/css/ErrorCSS.css" rel="stylesheet" />
<div class="form">
    <h3>Delivery address:</h3>
    <p>(just start typing, this isn't a real input 🙂)</p>
    <div class="fake-input"></div>
</div>

